#save-status {
    position: fixed; /* Фиксированное положение */
    left: 0; bottom: 0; /* Левый нижний угол */
    width: 40%; /* Ширина слоя */
    z-index: 99999;
}
#user_vote {
    position: fixed; /* Фиксированное положение */
    right: 20%; bottom: 5%; /* Левый нижний угол */
    width: 10%; /* Ширина слоя */
}


